@model Shopping.Models.User
<script src="~/Scripts/bootstrap.min.js"></script>
@{
    ViewBag.Title = "AddOrEdit";
}


<body class=" justify-content-center" style="background-color: #33FFB7">

    <div class="container col-10 row mx-auto ">

        <div class=" container col-4 ml-0">
            <center><button class="btn btn-primary position-absolute" style="bottom:0">Create</button></center>
            <img src=" https://thumbs.dreamstime.com/b/scenery-mobile-wallpaper-nature-background-bamboo-portrait-view-scenery-mobile-wallpaper-nature-background-bamboo-113640891.jpg" class="img-responsive shadow-lg" style="min-height:70vh" />
        </div>
        <div class="col-8 bg-light  container-fluid">
            <div class="col-12 text-center my-4"><h1>WELCOME !!</h1></div>
            <div class="col-12 text-center my-4"><h2>Create New Account</h2></div>
            @using (Html.BeginForm("send", "SignUp", FormMethod.Post))
            {@Html.AntiForgeryToken()

            <div>

                <hr />

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">

                        <tr>


                            <td>@Html.LabelFor(model => model.UserName)</td>
                            <td>
                                @Html.EditorFor(model => model.UserName)
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</span>
                            </td>
                        </tr>

                        <tr>


                            <td>   @Html.LabelFor(model => model.Password)</td>
                            <td>
                                @Html.EditorFor(model => model.Password)
                                <span class="text-danger">  @Html.ValidationMessageFor(model => model.Password)</span>
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                <label class="field-E">@Html.DisplayFor(model => model.ErrorMesssage)</label>
                            </td>
                        </tr>

                        <tr>


                            <td>   @Html.LabelFor(model => model.ConfirmPassword)</td>
                            <td>
                                @Html.EditorFor(model => model.ConfirmPassword)
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>

                            </td>
                        </tr>




                        <tr>
                            <td>
                            </td>
                            <td>
                                <input type="submit" value="Create" class="btn btn-default btn-primary" />

                            </td>

                        </tr>
                    </table>

                </div>
            </div>
        }
        </div>

    </div>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
